@use '../../../assets/css/common/variables' as *;
@use '../../../assets/css/common/mixins' as *;

.auth {
    border: 1px solid #e4e4e7;
    padding: 24px 20px 30px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    margin: 40px auto;
    max-width: 450px;
    width: 100%;
    height: max-content;
    position: relative;

    .alert {
        max-width: calc(100% - 40px);
        left: 20px;
    }

    .auth-header {
        text-align: center;
        margin-bottom: 25px;
    }

    .title-label {
        font-size: 24px;
        font-weight: 600;
    }

    .txt-sm {
        font-size: 14px;
    }

    .txt-xs {
        font-size: 12px;
        color: #6b7280;
    }

    .txt-gray {
        color: #6b7280;
    }

    .auth-content {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .icon-absolute {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(-50%, -50%);
            border: 0;
        }

        .line {
            height: 1px;
        }

        .field-input {
            padding-right: 45px;
        }
    }
}
