@use './variables' as *;
@use './mixins' as *;

.scrolls {
    overflow-y: auto;
    height: 100%;
}

.w-100 {
    width: 100% !important;
}

.h-100 {
    height: 100% !important;
}

.full-screens {
    @include size(100%);
}

.cursor-pointer {
    cursor: pointer;
}

.txt-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.is-disable {
    pointer-events: none;
    opacity: 0.7;
}

// tooltip
.tooltip {
    position: relative;

    &:not(:hover) {
        .tooltiptext {
            display: none;
        }
    }

    .tooltiptext {
        position: absolute;
        bottom: calc(100% + 4px);
        color: $text-white;
        background-color: $bg-black;
        border-radius: 4px;
        padding: 6px 8px;
        font-size: 11px;
        font-weight: 500;
        left: 50%;
        transform: translateX(-50%);
    }
}

// common
.field-input {
    height: 32px;
    width: 100%;
    box-shadow: 0px 0px 0px 1px $border-gray-dark;
    background-color: transparent;
    color: $text-black;
    border-radius: 4px;
    padding: 0 8px;
    border: 0;

    &:focus {
        outline: 2px solid $color-primary;
    }

    &.--error {
        box-shadow: inset 0 0 0 1px $red-default;
        outline: none;
        color: $red-default;
        background-color: $red-light;

        &::placeholder {
            color: $red-default;
        }
    }

    &.--transparent {
        box-shadow: none;
    }
}

.field-textarea {
    width: 100%;
    padding: 8px 10px;
    border-radius: 4px;
    border: 1px solid #c1c9d4;
    line-height: 20px;
    resize: none;

    &:focus {
        outline: 2px solid #6495ed;
    }

    &.large {
        min-height: 180px;
    }
}

.alert {
    max-width: calc(100% - 32px);
    width: 100%;
    min-height: 40px;
    border-radius: 8px;
    padding: 12px;
    font-size: 14px;
    flex: 0 0 auto;
    position: absolute;
    z-index: 9;
    top: 15px;
    left: 16px;

    &__description {
        width: 100%;
        color: #fff;
        padding-right: 24px;
        line-height: 18px;
        word-break: break-word;
        text-align: center;
    }

    &__btn {
        position: absolute;
        top: 8px;
        right: 8px;
        border-radius: 4px;
        background-color: transparent;
        color: #fff;
    }

    &.--error {
        background-color: $red-default;
    }

    &.--success {
        background-color: $green-default;
    }
}

.user {
    display: flex;
    align-items: center;
    gap: 6px;

    &__avt {
        @include size(32px);
        border-radius: 50%;
        overflow: hidden;
        flex-shrink: 0;
        border: 1px solid $border-gray;
        @include centeritems;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__name {
        @include text-ellipsis;
        max-width: 80px;
    }
}

.avt {
    @include flex-top;
    gap: 5px;
    margin-top: -3px;

    &__img {
        @include size(24px);
        border-radius: 50%;
        overflow: hidden;
    }

    &__name {
        flex: 1;
        margin-top: 3px;
    }
}

.img {
    @include size(100%);
    object-fit: cover;
}

.tabs {
    @include flex-center;

    &__items:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    &__items:last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    &__items:not(:first-child):not(:last-child) {
        border-radius: 0;
    }

    &__items:not(:first-child):not(:hover) {
        border-left-color: transparent;
    }

    &__items {
        &.active {
            background-color: rgba($color: $bg-tabs-active, $alpha: 1);
            color: $text-white;
        }
    }
}

.color-picker {
    position: relative;

    &__close {
        position: absolute;
        top: 6px;
        right: 8px;
        z-index: 2;
    }

    .sketch-picker {
        padding-top: 36px !important;
    }
}

// checkbox
.check-items {
    position: relative;
    line-height: 0;
    .item-checkbox {
        height: 16px;
    }

    label {
        @include size(100%);
        padding-left: 24px;
        cursor: pointer;
        display: inline-block;
        position: relative;

        &::before {
            content: '';
            display: inline-block;
            background-color: $text-white;
            border: 1px solid $border-gray;
            border-radius: 4px;
            @include size(16px);
            position: absolute;
            left: 0;
            top: 0;
        }

        &:hover::before {
            border-color: $border-gray-dark;
        }
    }

    input[type='checkbox'] {
        @include size(0);
        visibility: hidden;

        &:checked + .item-checkbox {
            label {
                &::before {
                    background-color: $purple-default;
                    border-color: $purple-default;
                }
                &::after {
                    content: '';
                    position: absolute;
                    width: 9px;
                    height: 6px;
                    top: 4px;
                    left: 3.5px;
                    background-color: transparent;
                    border: 2px solid white;
                    border-top: none;
                    border-right: none;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}

.link {
    color: $purple-default;
    cursor: pointer;
}

.box {
    background-color: $bg-white;
    border: 1px solid var(--border-gray-dark);
    width: 550px;
    border-radius: 4px;

    &__content {
        padding: 16px;
    }

    &__header,
    &__footer {
        @include flex-center;
        justify-content: space-between;
        padding: 0 16px;
        gap: 8px;
        min-height: 64px;
    }

    &__header:not(.no-line) {
        border-bottom: 1px solid $border-gray;
    }

    &__footer {
        border-top: 1px solid $border-gray;
    }

    .form {
        @include flex-column;
        gap: 12px;
    }

    .title {
        font-size: 16px;
        font-weight: 600;
    }

    .rows {
        @include flex-center;
        gap: 8px;

        &__label {
            width: 132px;
            color: $text-label;
        }

        &__info {
            flex: 1;
        }
    }
}

.txt-incorrect {
    color: $red-default;
    font-size: 11px;
    font-weight: 500;
    line-height: 16px;
    margin-top: 3px;
    display: flex;
    width: 100%;
    svg {
        flex: 0 0 auto;
        margin-right: 3px;
        @include size(15px);
    }
    &.--is-correct {
        color: $green-default;
    }
}

.lifelog {
    display: flex;
    font-weight: 400;
    background-color: $bg-default;
    @include size(100%);
    @include font-style($text-black, 14px);

    @media (max-width: 820px) {
        width: 820px;
    }

    .container-wrap {
        flex: 1;
        height: 100%;
        @include flex-column;

        .container {
            flex: 1;
            height: calc(100% - 64px);
            @include flex-top;
        }
    }

    .header {
        height: 64px;
        display: flex;
        align-items: center;
        background-color: $bg-white;
        border-bottom: 1px solid $border-gray;
        padding-right: 16px;
        z-index: 99;

        .header-logo {
            display: inline-flex;
            cursor: pointer;

            > img {
                border-radius: 4px;
                @include size(40px);
            }
        }

        .header-label {
            font-size: 20px;
            font-weight: 600;
            line-height: 1.2;
            text-transform: capitalize;
        }

        .collapse-sidebar {
            @include size(64px);
            @include centeritems;
            border-right: 1px solid $border-gray;
        }

        .btn-collapse svg {
            width: 16px;
            height: 16px;
        }

        .container-header {
            flex: 1;
            display: flex;
            align-items: center;
            gap: 12px;
        }

        .dropdown {
            &.wrap-nav {
                .btn-default {
                    height: 40px;
                    padding: 4px 8px 4px 4px;
                }
            }
            &.nav-user .btn-default {
                border-radius: 24px;
            }
            &.wrap-nav:not(.nav-user) {
                .btn-default {
                    border-radius: 8px;
                    padding-left: 8px;
                }

                .dropdown__menu {
                    .items {
                        padding: 0;

                        > a {
                            padding: 8px;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    > .sidebar {
        width: 0;
        height: 100%;
        background-color: $bg-white;
        border-right: 1px solid $border-gray;
        @include flex-column;
        transition: cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
        overflow: hidden;

        &.is-collapsed {
            width: 255px;
            transition: width 0.3s ease-in-out;
        }

        .sidebar__content {
            flex: 1;
            padding: 16px;
            overflow-y: auto;
        }

        .sidebar-list {
            @include flex-column;
            gap: 8px;

            &__item {
                @include flex-center;
                gap: 8px;
                min-height: 40px;
                border-radius: 4px;
                padding: 0 8px;
                cursor: pointer;

                &:not(.no-effect):hover {
                    background-color: $bg-gray;
                }
            }
        }
    }
}
