@use "./variables" as *;
@use "./mixins" as *;

.loader-nature {
  &.loader {
    width: 20px;
    height: 80px;
    background: #935936;
    position: relative;
  }
  &.loader:before {
    content: "";
    position: absolute;
    top: 10px;
    left: -22px;
    width: 25px;
    height: 60px;
    background: radial-gradient(farthest-side, #fff 92%, #0000) 60% 6px/4px 4px,
      radial-gradient(50% 60%, #53707b 92%, #0000) center/70% 55%,
      radial-gradient(farthest-side, #53707b 92%, #0000) 50% 3px/14px 14px,
      radial-gradient(142% 100% at bottom right, #0000 64%, #53707b 65%)
        bottom/57% 40%,
      conic-gradient(from -120deg at right, #53707b 36deg, #0000 0) 100% 3px/51%
        12px,
      conic-gradient(
          from 120deg at top left,
          #0000,
          #ef524a 2deg 40deg,
          #0000 43deg
        )
        top/100% 10px;
    background-repeat: no-repeat;
    transform: rotate(-26deg);
    transform-origin: 100% 80%;
    animation: l16 0.25s infinite linear alternate;
  }
  &.loader:after {
    content: "";
    position: absolute;
    width: 6px;
    height: 12px;
    left: -6px;
    bottom: 15px;
    border-radius: 100px 0 0 100px;
    background: #53707b;
  }
  @keyframes l16 {
    100% {
      transform: rotate(0);
    }
  }
}

.loading-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include centeritems;
  background-color: $bg-default;
  z-index: 99999999;
}

.loader-spinner {
  &.loader {
    position: absolute;
    left: calc(50% - 12px);
    width: 24px;
    padding: 4px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #fff;
    --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: l3 1s infinite linear;
  }
  &.has-color {
    background: #25b09b;
  }
  @keyframes l3 {
    to {
      transform: rotate(1turn);
    }
  }
}

.loader-bars {
  &.loader {
    width: 8px;
    aspect-ratio: 1;
    --c: no-repeat linear-gradient(#fff 0 0);
    background: var(--c) 0% 100%, var(--c) 50% 100%, var(--c) 100% 100%;
    animation: l2 1s infinite linear;
  }
  @keyframes l2 {
    0% {
      background-size: 20% 100%, 20% 100%, 20% 100%;
    }
    20% {
      background-size: 20% 60%, 20% 100%, 20% 100%;
    }
    40% {
      background-size: 20% 80%, 20% 60%, 20% 100%;
    }
    60% {
      background-size: 20% 100%, 20% 80%, 20% 60%;
    }
    80% {
      background-size: 20% 100%, 20% 100%, 20% 80%;
    }
    100% {
      background-size: 20% 100%, 20% 100%, 20% 100%;
    }
  }
}

.loader-button {
  .loader {
    width: 8px;
    aspect-ratio: 0.75;
    --c: no-repeat linear-gradient(#fff 0 0);
    background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
    animation: l7 1s infinite linear alternate;
  }
  @keyframes l7 {
    0% {
      background-size: 20% 50%, 20% 50%, 20% 50%;
    }
    20% {
      background-size: 20% 20%, 20% 50%, 20% 50%;
    }
    40% {
      background-size: 20% 100%, 20% 20%, 20% 50%;
    }
    60% {
      background-size: 20% 50%, 20% 100%, 20% 20%;
    }
    80% {
      background-size: 20% 50%, 20% 50%, 20% 100%;
    }
    100% {
      background-size: 20% 50%, 20% 50%, 20% 50%;
    }
  }
}
